#preloader {
  background: #FFEBE5;
  height:100vh;
  width:100vh;
  position:fixed;
  z-index: 100;
}

#preloader .text-anim{
  color:#D45880;
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  line-height: 100vh;
}

span{
  opacity: 0;
  transition: all 2s ease;
  transform: translateY(50px);
  display: inline-block;
}

span.fade{
  opacity: 1;
  transform: translateY(0px);
}

/*email logo styling*/
.material-symbols-outlined {
    color: #D45880;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   cursor:none;
}

html{
  scroll-behavior: smooth;
}

.cursor-dot {
  width: 20px;
  height: 20px;
  background-color: #D45880;
  position: absolute;
  border-radius: 50%;
}

header {
  width: 100vw;
  height: 100vh;
  background-color:#FFEBE5;
  background-size: auto;
}

.navbar{
  top: 0;
  z-index: 100;
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  align-items: center;
  justify-content: center;
  gap:20px;
  background-color: transparent;
  overflow: hidden;
}

.navbar a{
  text-decoration: none;
  font-size: large;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color:#D45880;
  border-bottom: 3px solid transparent;
}

.navbar .animations a:hover {
  border-bottom: 3px solid #FFC0B5;
  transition: all 1s;
}

.navbar .animations a.active {
  border-bottom: 3px solid #FFC0B5;
}

  /*Jaden Mansfield home logo*/

  .navbar .jaden{
    position: sticky;
    top: 0;
    z-index: 100;
  }

 .jaden img{
    padding-top: 10px;
    padding-left: 20px;
    width:25%;
  }

  .animations{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
  }
  
  .animations a{
    font-family: 'Poppins', sans-serif;
    width:80%;
  }

.navbar .projects{
  padding-right: 40px;
}

  /*container for projects, about, and email and linkedin logos*/
  .navbar .about{
    width:130px;
  }

  /*email and linkedin logos*/
  .navbar .email{
    width:4.5%;
    padding-right: 10px;
  }

    .navbar .email .grow {
      transition: all .2s ease-in-out;
    }
      .navbar .email:hover {
        transform: scale(1.2);
      }
    
  

  .navbar .email a{
    color: #D45880;
    text-decoration: none;
  }

  .navbar .linkedin{
    padding-bottom: 3px;
    width:4.5%;
    padding-right: 60px;
  }

  .navbar .linkedin .grow {
    transition: all .2s ease-in-out;
  }
    .navbar .linkedin:hover {
      transform: scale(1.2);
    }

  .navbar .linkedin a{
    color: #D45880;
    text-decoration: none;
  }

  /*flower image and title*/
  .flexbox{
    padding-top:250px;
    padding-bottom: 200px;
    padding-left: 100px;
    width: 1000px;
    height: 200px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
  }

  .flexbox .image-card img{
    width:800px;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
  }

  .flexbox .image-card p{
    width: 400px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color:#D45880;
  }

  span{
    opacity: 0;
    transition: all 2s ease;
    transform: translateY(50px);
    display: inline-block;
}

  span.fade{
    opacity: 1;
    transform: translateY(0px);
}


#projects{
  padding-top: 30px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  color:#D45880;
  display:flex;
  align-items: center;
  justify-content: center;
}

.projects-container {
    position:relative;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
  }
  
  .projects-container .image-card img {
    opacity: 1;
    border-radius: 10px; 
    padding: 10px 16px 6px 50px;
    width: 480px;
    height:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .projects-container .image-card{
    padding: 70px 16px 6px 50px;
    width:50%;
    position: relative;
  }

  .container {
    position:relative;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
  }
  
  .container .me img {
    border-radius: 10px; 
    padding: 10px 16px 6px 50px;
    width: 370px;
    height:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .container .description {
    padding: 70px 16px 6px 100px;
    width:50%;
    position: relative;
    font-size: 25px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color:#D45880;
  }
  
  .middle {
    position: absolute;
    border-radius: 10px; 
    padding: 70px 16px 6px 50px;
    width: 450px;
    height:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: .5s ease;
    background-color: #FFEBE5;
  }
  
  
  .image-card:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: #D35980;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }



#main-menu {
    display: inline;
  }
#hamburger-menu {
    display: none;
  }

@media screen and (max-width:1024px) {
  .jaden img{
    width:20%;
  }

  .flexbox{
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    align-items: center;
    width: 100%;
    height: 50%;
  }

  .flexbox .image-card img{
    width:100%;
  }

  .flexbox .image-card p{
    width:100%;
    font-size: 30px;
  }

  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
    height:100vh;
  }
  #menu {
    transform: none;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  .projects-container{
    flex-direction: column;
    width: 100%;
    padding:0px 0px 0px 0px;
  }

  .projects-container .image-card img {
    border-radius: 10px; 
    width: 100%;
    padding: 0px 0px 0px 0px;
}

.projects-container .image-card{
  position: relative;
  padding:50px 0px 50px 0px;
}


}

@media screen and (max-width:480px) {
    #main-menu {
      display: none;
    }
    #hamburger-menu {
      display: inline;
    }
      #menu {
        transform: none;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      }

      .flexbox{
        flex-direction: column;
        padding: 0px 0px 0px 0px;
        align-items: center;
        width: 100%;
        height: 50%;
      }

      .flexbox .image-card img{
        width:100%;
      }

      .flexbox .image-card p{
        width:100%;
        font-size: medium;
      }

      .projects-container{
        flex-direction: column;
        width: 100%;
        padding:0px 0px 0px 0px;
      }

      .projects-container .image-card img {
        border-radius: 10px; 
        width: 100%;
        height:150px;
        padding: 0px 0px 0px 0px;
    }

    .projects-container .image-card{
      position: relative;
      padding:50px 0px 50px 0px;
    }

  }

  .flower{
    display: flex;
    justify-content: center;
    padding-top: 115px;
  }

  .flower img {
    height: 70px;
}

body
{
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: 'Poppins', sans-serif;
  color:#D45880;
}

a
{
  text-decoration: none;
  color: #D45880;
  transition: color 0.3s ease;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #D45880;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #D45880;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 250px;
  margin: 0px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: 0px;
  background: #FFEBE5;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul{
  transform: none;
  opacity: 1;
}





